@import "../../shared/stylesheets/var.scss";
@import "../../shared/stylesheets/openHiddenMenu.scss";

.productContainer {
    display: block;
    width: 100%;
    border: 2px solid $color1;
    border-radius: 10px;
    background-color: #dddddd;
    margin-bottom: 50px;
    div {
        padding: 5px;
        div {
            display: inline-block;
        }
    }
}

.productLeft {
    width: 30%;
    img {
        display: block;
        width: 200px;
        margin: auto;
        border-radius: 5px;
    }
}

.productRight {
    width: 60%;
    vertical-align: top;
    h2 {
        text-align: center;
        margin-top: 15px;
        font-size: 30px;
        font-weight: 400;
    }
    p {
        text-align: center;
        margin-top: 30px;
        font-size: 18px;
    }
    h3 {
        margin-top: 40px;
        text-align: right;
    }
}

@media only screen and (max-width: 850px) {
    .productContainer {
        margin: 0 auto 50px;
    }
    .productLeft {
        width: fit-content;
    }
    .productRight {
        h2 {
            font-size: 25px;
        }
        p {
            font-size: 15px;
        }
    }
}

@media only screen and (max-width: 700px) {
    .productRight {
        h2 {
            font-size: 22px;
        }
        p {
            font-size: 15px;
        }
    }
}

@media only screen and (max-width: 600px) {
    .productLeft {
        img {
            width: 120px;
        }
    }
    .productRight {
        h2 {
            font-size: 21px;
            margin-top: 5px;
        }
        p {
            font-size: 14px;
            margin-top: 5px;
        }
        h3 {
            font-size: 15px;
            margin-top: 10px;
        }
    }
}

@media only screen and (max-width: 370px) {
    .productLeft {
        img {
            width: 120px;
        }
    }

    .productRight {
        width: 50%;
        h2 {
            font-size: 19px;
        }
    }
}