@import "../../shared/stylesheets/var.scss";

.currencySelectionContainer {
    display: block;
    width: 25%;
    select {
        height: 35px;
        width: 150px;
        margin: auto;
        border-radius: 3px;
        font-weight: 600;
        option {
            font-weight: 600;
        }
    }
}