@import "../../shared/stylesheets/var.scss";

.loginButtonContainer {
    display: block;
    width: fit-content;
}

.login_button {
    display: block;
    background-color: $color5;
    h3 {
        color: $color1;
        font-size: 15px;
    }
    img {
        width: 25px;
    }
}